
 <div class="row question-box">
    <div class="col s8 offset-s2">
      <div class="card small red darken-4 hoverable">
        <div class="card-content white-text">
           
   <span class="card-title center-align">Log In or Sign Up</span>
        
       
          <p class="center-align question">Have an account? Log In 
              <br>
              No Account? Sign Up
        </p>
        </div>
        <div class="card-action red accent-4 center-align">
          <a class="links" href="#">Log In</a>
          <a class="links" href="#">Sign Up</a>
        </div>
      </div>
    </div>
  </div>